Proyecto Final/datos.dtd

<!ELEMENT biblioteca_steam (juego+)>

<!ELEMENT juego (titulo , desarrollador ,lanzamiento, horas_jugadas)>

<!ATTLIST juego categoria CDATA #REQUIRED>

<!ELEMENT titulo  (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ELEMENT desarrollador  (#PCDATA)>
<!ELEMENT lanzamiento  (#PCDATA)>
<!ELEMENT horas_jugadas  (#PCDATA)>



